.wrapper{
   padding: 2rem; 
}
.profile{
    height: 300px;
    width: 100%;
    border-radius: 50%;
}
.edit{
    float: right;
    margin-top: -5rem;
    margin-right: 2.5rem;
}
.emoji{
    width: 35px;
    margin-right: 0.8rem;
}
.heads{
    color: rgb(145, 95, 109);
    font-weight: bold;
}
.emojiSad{
    width: 45px;
    margin-top: -1rem;
    margin-left: 1rem;
}
.editBox{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 150px;
    border-radius:8px;
    background-color:#F5EFF5;
}
@media all and (min-width: 750px){
    .wrapper{
        padding: auto;
        width: 100%;
        margin: auto;
    }
    .profile{
        width: 300px
    }
}
@media all and (min-width: 1024px){
    .wrapper{
        width: 75%;
    }
}